.ipynb_checkpoints/
data/fddb_test_lmdb
data/fddb_train_lmdb
data/wider_fddb_test_lmdb
data/wider_fddb_train_lmdb
data/wider_test_lmdb
data/wider_train_lmdb
images/output/
models/ssd_face_pruned/graph
models/ssd_face_pruned/output.gv
models/ssd_face_pruned/output.gv.svg
models/ssd_face_pruned/output_expected.npy
models/ssd_face_pruned/output_report.html
models/ssd_voc_profile/
models/tmp/
scripts/__pycache__/
snapshots/
models/deploy/
